<div class="main mt-4 wow animate__backInRight">
  <div class="container-xxl">
      <div class="row">
          <div class="col-12 main-background">
              <h2 class="main__title text-md-start">Скидки на травянные чаи</h2>
              <p class="fs-4">Узнай все подробности, заполнив заявку</p>
              <div class="main__actions">
                  <button class="btn bg-primary text-white hvr-pulse">Заполнит</button>
              </div>
          </div>
      </div>
  </div>
</div>
<section class="questions wow animate__bounceInDown">
  <div class="container">
      <div class="questions__title text-center fs-4 fw-bold mb-5">Ответы на часто задаваемые вопросы</div>
      <div id="accordion" class="questions__accordion">
          <h3 class="bg-primary">Собираете ли вы подарочные боксы?</h3>
          <div>
              <p>
                  Да, у нас есть такая услуга.
                  Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
              </p>
          </div>
          <h3 class="bg-primary">Сколько у вас разновидностей чая?</h3>
          <div>
              <p>
                  Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                  purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                  velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                  suscipit faucibus urna.
              </p>
          </div>
          <h3 class="bg-primary">В какой срок осуществляется доставка?</h3>
          <div>
              <p>
                  Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                  Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                  ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                  lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
              </p>
          </div>
          <h3 class="bg-primary">У вас обновляется ассортимент?</h3>
          <div>
              <p>
                  Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                  et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                  faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                  mauris vel est.
              </p>
          </div>
          <h3 class="bg-primary">Какого объема у вас пачки чая?</h3>
          <div>
              <p>
                  Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                  et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                  faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                  mauris vel est.
              </p>
          </div>
      </div>
  </div>
</section>
<popup></popup>
